
@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat-VariableFont_wght.ttf) ;
}

body{
    background-color: #007ced !important;
    position: relative;
    font-family: montserrat !important;
}
.mainBody{

}
.logo{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: #357BE3 !important;
    border-radius: 7px;
}
.navbar{
    border-radius: 20px;
}
.active{
    color: #357BE3 !important;
    border-bottom: 1px solid;
}