main {
  padding: 0 64px 64px;
}

.card {
  border-radius: 16px;
  height: 300px;
  width: 300px;
  border: none !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1),
  0px 5px 8px 0px rgba(0, 0, 0, 0.09),
  0px 1px 14px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  background-size: cover;
}
a{
  text-decoration: none !important;
}
.info {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #fff;
  transform: translateY(100%)
  translateY(-88px)
  translateZ(0);
  transition: transform 0.5s ease-out;
}

.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%)
  translateY(88px)
  translateZ(0);
  transition: transform 0.5s ease-out;
}

.card:hover .info,
.card:hover .info:before {
  transform: translateY(0) translateZ(0);
}

.info .title {

  margin: 0;
  padding: 24px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.87);
}

.info .description {

  margin: 0;
  padding: 0 24px 24px;
  font-size: 12px;
  line-height: 1.5;
  color: #4b4b4b;
}

/* General layout and typography stuff */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

* {
  box-sizing: border-box;
  position: relative;
  transition: all .3s ease
}

