.page-title{
    position: sticky;
    margin-top: 2%;
    margin-left: 3%;
}
.research{
    margin-left:20px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 0 1px 0 #888888
}
.research span{
    font-size: 13px;
    margin-right: 15px;
    padding: 5px 10px;
    border: 2px solid #007ced;
    border-radius: 19px;
}
.year{
    font-size: 13px;
    margin-right: 15px;
    padding: 5px 10px;
    border: 2px solid #007ced;
    border-radius: 19px;
}
.research h6{
    font-size: 14px;
    color: #575757;
}
.research h5{
    font-weight: bold;
    font-size: 16px;
}
.research p{
    color: #007ced;
    font-size: 14px;
}

.edit-btn {

}
