.card-contain{}
.card-contain .mainImgContain{
    margin-right: 60px;
}
.card-contain .mainImgContain .mainImg{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 6px solid #fff;
    box-shadow: 0px 0px 5px 2px #0000005c;
}
.card-contain .cv-text{
    width: 35%;
}
.card-contain .cv-text h5{
    font-size: 13px;
    background: #357BE3;
    padding: 5px;
    color: #fff;
    border-radius: 7px;
}
.card-contain .cv-text h2{
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}
.card-contain .cv-text h6{
    font-size: 15px;
}
.card-contain .cv-text p{
    font-size: 17px;
    color: #7c7c7c;
}
.card-contain .cv-text .cv-btn{
    margin: 5px;
    background-color: #fff;
    padding: 10px 35px;
    border: 2px solid #357BE3;
    border-radius: 37px;
    font-size: 13px;
    box-shadow: 0px 0px 5px 0px #0003;
}
.card-contain .cv-text .cv-btn:hover{
    background-color: #f5f5f5;
    border: 2px solid #357BE3;
}