@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat-VariableFont_wght.ttf) ;
}
.card-contain .mainImgContain{
    margin-right: 60px;
}
.card-contain .mainImgContain .mainImg{
    width: 320px;
    height: 320px;
    border-radius: 100%;
    border: 6px solid #fff;
    box-shadow: 0px 0px 5px 2px #0000001a;
}
.card-contain .cv-text{
    width: 35%;
}

.card-contain .cv-text h5{
    font-size: 13px;
    background: #357BE3;
    padding: 5px;
    color: #fff;
    border-radius: 7px;
}
.card-contain .cv-text h2{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}
.card-contain .cv-text h6{
    font-size: 15px;
}
.card-contain .cv-text p{
    font-size: 14px;
    color: #7c7c7c;
}
.card-contain .cv-text .cv-btn{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    background-color: #f9f9f9;
    padding: 10px 35px;
    border: 2px solid #007ced;
    border-radius: 37px;
    font-size: 13px;
    box-shadow: 0 0 5px 0 #0003;
}
.card-contain .cv-text .cv-btn:hover{
    background-color: #007ced;
    color: #ffffff;
}

.interested{}
.interested .interested-title{
    margin-top: 50px;
    margin-bottom: 35px;
}
.interested .interested-title h3{
    font-size: 24px;
    border-left: 4px solid #007ced;
    padding-left: 11px;
}
.interested .interested-card{
    background: #f9f9f9;
    border-radius: 16px;
    padding: 20px;
    height: 370px;
    box-shadow: 0 0 6px 0px #00000021;
}
.interested .interested-card:hover{
    box-shadow: 0 0 6px 0px #0000004f;
}
.interested .interested-card .icon{
    font-size: 64px;
    display: flex;
    justify-content: center;
    margin: 26px 0 40px 0;
    color: #007ced;
}
.interested .interested-card .title{
    margin-bottom: 18px;
}
.interested .interested-card .title h4{
    font-size: 19px;
    font-weight: bold;
}
.interested .interested-card .text{}
.interested .interested-card .text p{
    font-size: 14px;
    color: #4b4b4b;

}


.activities .activities-title{
    margin-top: 50px;
    margin-bottom: 35px;
}
.activities .activities-title h3{
    font-size: 24px;
    border-left: 4px solid #007ced;
    padding-left: 11px;
}
.activities .activities-card{
    background: #f9f9f9;
    border-radius: 16px;
    padding: 20px;
    height: 260px;
    border:2px solid #d5d5d5;

}
.activities .activities-card:hover{
    box-shadow: 0 0 6px 0px #00000021;
}
.activities .activities-card .icon{
    font-size: 64px;
    display: flex;
    justify-content: center;
    margin: 26px 0 40px 0;
    color: #737373;
}
.activities .activities-card .title{
    text-align: center;
    margin-bottom: 18px;
}
.activities .activities-card .title h4{
    font-size: 19px;
    font-weight: bold;
}
.activities .activities-card .text{
    text-align: center;
}
.activities .activities-card .text span{
    font-size: 27px;
    font-weight: bold;
    color: #007ced;
}
.education-box{
    border-left: 2px solid #cbcbcb;
    padding: 15px;
}
.education-box:first-child{
    padding-top:0px
}
.education-box:last-child{
    padding-bottom:0px;
    position: relative;
}
.education-box span{
    margin-left: -14px;
    font-size: 13px;
    margin-right: 15px;
    padding: 5px 10px;
    border: 2px solid #007ced;
    border-radius: 19px;
    font-weight: bold;
}
.education-box::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top:11px;
    position: absolute;
    left: -6px;
    border-radius: 10px;
    background-color: #007ced;
}
.education-box h6{
    font-size: 14px;
    color:#575757;
}
.education-box h4{
    font-size: 17px;
    margin-top: 12px;
    font-weight: bold;
}
.teaching-box h4{
    font-size: 16px;
    font-weight: bold;
}
.cooperation-box{
    margin:7px
}

.cooperation-title{
    font-size: 21px;
    border-left: 4px solid #007ced;
    padding-left: 11px;
}
.cooperation-box h5{
    margin-left: 5px;
    font-size: 18px;
}
.cooperation-box h6{
    margin-left: 13px;
    font-size: 14px;
}
.postdoc-box h4{
    font-size: 14px;
    font-weight: bold;
}
.postdoc-box p{
    font-size:13px;
}
.cooperationAli-box span{
    margin-left: -16px;
    font-size: 13px;
    margin-right: 15px;
    padding: 5px 10px;
    border: 2px solid #007ced;
    border-radius: 19px;
    font-weight: bold;
}
.cooperationAli-box h6{
    font-size: 13px;
}
@media screen and (max-width: 768px){
    .card-contain{
        flex-direction: column;
        align-items: center;
    }
    .cv-text{
        width: 70% !important;
        margin: auto;
    }
    .mainImgContain{
        margin: auto;
    }
}
.edit-text button {
    background-color: #55a0ef;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.edit-cv-title button {
    background-color: #FFFFFF;
}

.edit-cv-name button::before {
    position: absolute;
    top: -2%;
    left: 10.5%
}
.mainImg-overlay {
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
img-edit-container {
    width: 320px;
    height: 320px;
    border-radius: 100%;
}
.mainImgContain:hover .mainImg-overlay {
    opacity: 0.7;
}
.mainImg-overlay label:hover {
    border-radius: 5px;
    padding: 2px;
    background-color: #fff;
}
