.main-container{
    background-color: white;
    width: 90%;
    margin-top:30px;
    border-radius: 20px;
}
.back-svg-1{
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
    width: 300px;
    height: 300px;
}
.back-svg-2{
    z-index: -1;
    position: absolute;
    top:0;
    right:0;
    width: 200px;
    height: 200px;
}
.back-svg-3{
    z-index: -1;
    position: absolute;
    bottom:10px;
    right:0;
    width: 200px;
    height: 200px;
}